<header>
  <h1 class="header">B-Translator</h1>
  <p class="header"></p>

  <ul>
    <li><a class="buttons github" href="https://github.com/B-Translator">View On GitHub</a></li>
    <li class="download"><a class="buttons"
    href="https://googledrive.com/host/0B7H_DCc2DjNGamstaDd5VjBydUk/bcl-20141010.tgz">Client TGZ</a></li>
    <li class="download"><a class="buttons"
    href="https://googledrive.com/host/0B7H_DCc2DjNGamstaDd5VjBydUk/btr-20141011.tgz">Server TGZ</a></li>
  </ul>

  <ul class="links">
    <li><a href="/index.html">Index</a></li>
    <li><a href="/about.html">About</a></li>
    <li><a href="/install.html">Install</a></li>
    <li><a href="/api/">API</a></li>
    <li><a href="/vocabularies/">Vocab</a></li>
    <li><a href="/docs.html">Docs</a></li>
    <li><a href="/sites.html">Sites</a></li>
    <li><a href="/contact.html">Contact</a></li>
  </ul>

</header>
