<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="shortcut icon" href="/favicon.png">

<title>B-Translator</title>

<!-- Bootstrap Core and Custom CSS -->
<link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
<link href="/stylesheets/sidebar.css" rel="stylesheet">

<link href="/stylesheets/styles.css" rel="stylesheet">
<link href="/stylesheets/custom.css" rel="stylesheet">

<!-- jQuery -->
<script src="/javascripts/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>

<script src="/javascripts/scale.fix.js"></script>

<script>
$(document).ready(function(){
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
});
</script>
