
/*
body {
    font-family: Ubuntu, 'Bitstream Vera Sans', 'DejaVu Sans', Tahoma, sans-serif;
}
*/

code {
    font-family: Ubuntu Mono, monospace, courier;
    color: #009900;
    white-space: nowrap;
}

pre {
    padding: 10px;
    border: 1pt solid #AEBDCC;
    border-radius: 5px;
    background-color: #000000;
    color: #eeeeee;
    font-family: Ubuntu Mono, monospace, courier;
    font-size: 16px;
    line-height: 22px;
}

b {
    font-weight: bold;
}
i {
    font-style: italic;
}

ul li {
  list-style: disc inside none;
}

header ul li {
  list-style: none;
}
